.header {
  display: flex;
  flex-direction: column;
  height: 90vh;
  min-width: 100px;
  background-color: #161D2F;
  border-radius: 20px;
  align-items: center;
  margin: 0 35px 35px 0;
  justify-content: space-between;
  padding: 35px 0 35px 0;


  .logo {
    cursor: pointer;

    @media (max-width: 650px) {
      height: 20px;
      width: 25px;
    }
   

    
  }

  nav {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 20px;
    justify-content: space-between;

    svg {
      cursor: pointer;
      fill: #5a698f;

      &:hover {
        fill: #fff;
      }

      
     

    }

    .activeSvg {
      fill: #FC4747;
    }

    @media (max-width: 1400px) {
      flex-direction: row;
      width: 173px;
      height: 20px;
    }

    
  }

  .login {
    cursor: pointer;
    height: 40px;
    width: 40px;

    @media (max-width: 650px) {
      height: 24px;
      width: 24px;
    }
   
  }

  @media (max-width: 1400px) {
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    padding: 0 35px 0 35px;
    margin: 0;
  }

  @media (max-width: 650px) {
    padding: 0 17px 0 17px;
    border-radius: 0;
  }
}