body {
  background-color: #10141E;
  height: 100%;
  color: white;
  font-family: 'Outfit';
}

.wrapper {
  margin: 35px;
  height: 100%;
  display: flex;
  flex-direction: row;

}

header {
  display: flex;
  flex-direction: column;
  height: 90vh;
  min-width: 100px;
  background-color: #161D2F;
  border-radius: 20px;
  align-items: center;
  margin: 0 35px 35px 0;

  .logo {
    margin: 35px 0 75px 0;
    cursor: pointer;
  }

  nav {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 20px;
    justify-content: space-between;

    svg {
      cursor: pointer;
      fill: #5a698f;

      &:hover {
        fill: #fff;
      }

    }

    .activeSvg {
      fill: #FC4747;
    }
  }

  .login {
    margin-bottom: 35px;
    cursor: pointer;
    margin-top: auto;

    img {
      height: 40px;
      width: 40px;

    }
  }
}











.search-bar {
  margin: 25px 0 35px 0;
  display: flex;
  align-items: center;
  width: 100%;

  .box {
    position: relative;
    width: 50%;
  }

  input {
    background-color: #10141E;
    border: none;
    height: 50px;
    width: 90%;
    caret-color: #FC4747;
    color: #fff;
    padding-left: 50px ;

    &:focus {
      outline: none;
      border-bottom: 1px solid #5A698F;
    }
  }

  .clear {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    fill: #5A698F;
    cursor: pointer;

    &:hover {
      fill: #fff;
    }

  }

  img {
    height: 24px;
    width: 24px;
    margin-right: 25px;
    position: absolute;
    bottom: 15px;
  }
}



h2 {
  margin: 0 0 25px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
}



.slider {
  height: 230px;
  max-width: 87.3vw;
  display: grid;
  grid-template: 1fr / repeat(5, 1fr);
  gap: 40px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin-bottom: 35px;


  &::-webkit-scrollbar {
    display: none;
  }
}



.slide {
  position: relative;
  display: flex;


  .slide-img {
    width: 470px;
    height: 230px;
    border-radius: 10px;
  }

  .slide-info {
    position: absolute;
    left: 24px;
    bottom: 24px;

  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 0.7;

  }

  .icon-play-wrapper {
    align-items: center;
    justify-content: center;
  }

}







.recom-films {
  width: 87.3vw;
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  gap: 30px;


  .slide__recom {
    position: relative;
    width: 280px;


    .rec-img {
      width: 280px;
      height: 174px;
      border-radius: 10px;
    }

    &:hover {
      opacity: 0.7;
    }

    .icon-play-wrapper {
      justify-content: center;
      margin-top: 60px;
    }

  }


}


.slide-title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.bookmark {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  position: absolute;
  right: 24px;
  top: 16px;
  background: #10141E;
  mix-blend-mode: normal;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}



.icon-play-wrapper {

  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;

  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.icon-play {
  position: absolute;
  width: 117px;
  height: 48px;
  background-color: #979797;
  opacity: 0.4;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  img {
    opacity: 1;
    height: 30px;
    margin-left: 9px;
  }

  p {
    margin-right: 24px;
  }



}




.info {
  display: flex;
  align-items: center;

  p {
    margin: 0 8px 0 0;
    opacity: 0.7;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
  }

  img {
    width: 12px;
    height: 12px;
    margin-right: 8px;
  }
}